In [3]:
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
import torch
import torch.nn as nn
import torch.optim as optim
import torchvision
%matplotlib inline
import torchvision.transforms as transforms
from torchvision.utils import save_image
from torch.utils.data import Dataset, DataLoader
from tqdm import tqdm
from torch.autograd import Variable
import os
import pandas as pd

In [4]:
seed = 42
torch.manual_seed(seed)
torch.backends.cudnn.benchmark = False
torch.backends.cudnn.deterministic = True
batch_size = 128
epochs = 300
learning_rate = 0.001

In [6]:
labels = pd.read_csv('/datasets_1/sagarj/satellite/training_6_cities/all_cities_imagelet_labels.csv')

In [8]:
labels

,Unnamed: 0,imagelet,city,label_activity_density
0,0,S2A_MSIL2A_20170802T101031_N0205_R022_T32TPQ_2...,bologna,-1
1,1,S2A_MSIL2A_20170802T101031_N0205_R022_T32TPQ_2...,bologna,-1
2,2,S2A_MSIL2A_20170802T101031_N0205_R022_T32TPQ_2...,bologna,-1
3,3,S2A_MSIL2A_20170802T101031_N0205_R022_T32TPQ_2...,bologna,-1
4,4,S2A_MSIL2A_20170802T101031_N0205_R022_T32TPQ_2...,bologna,-1
...,...,...,...,...
7859,835,S2A_MSIL2A_20180712T095031_N0208_R079_T33SUC_2...,palermo,-1
7860,836,S2A_MSIL2A_20180712T095031_N0208_R079_T33SUC_2...,palermo,-1
7861,837,S2A_MSIL2A_20180712T095031_N0208_R079_T33SUC_2...,palermo,-1
7862,838,S2A_MSIL2A_20180712T095031_N0208_R079_T33SUC_2...,palermo,-1
7863,839,S2A_MSIL2A_20180712T095031_N0208_R079_T33SUC_2...,palermo,2

In [9]:
len(labels[labels['label_activity_density'] == -1])

5850